@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

#app {
  position: absolute;
  display: flex;
  background-color: #132743;
  background: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  font: 100% "Ubuntu Condensed", sans-serif;
}

#app-inner {
  display: grid;
  width: 1000px;
  grid-template-rows: 1fr 2fr 2fr;
  border-radius: 100%;
}

#gameview {
  margin-left: 0;
  margin-right: 0;
}

#info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
}

.box {
  color: #264653;
  background: #f8efd4;
  height: auto;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
}

.box h1 {
  display: block;
}

.handChoice {
  background-size: cover;
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

#choices {
  width: 100%;
  height: 100%;
}

.choice {
  background-size: cover;
  width: 37px;
  height: 37px;
  opacity: 0.5;
  display: inline-block;
}

.choiceSelected {
  opacity: 0;
  box-shadow: 0 0 8pt 1pt red;
  opacity: 1;
  border-radius: 50%;
}

.choice:hover {
  opacity: 1;
}

#hint {
  display: block;
}

#col1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#col2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}

#col3 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

#score {
  background: #f7ede2;
  display: flex;
}

#result {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 25px darkblue;
}

#picks {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  text-align: center;
  text-transform: capitalize;
}

.pickedHand {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-size: contain !important;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: white;
  border: 3px solid black;
}

.disable {
  cursor: none;
}

#computerPic {
  background: url("../img/computer.gif");
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
  display: block;
}

.choiceHint {
  background-size: cover;
  width: 30px;
  height: 30px !important;
  display: inline-block;
}

#hints div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.abcd {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#picks div {
  padding: 5px;
}

.left {
  z-index: 222;
  float: left;
  position: relative;
  left: 0;
}

.right {
  z-index: 222;
  float: right;
  position: relative;
  right: 0;
}

.hpbar {
  width: 300px;
  height: 70px;
  background: white;
  border: 3px solid black;
}

#playerHP span {
  display: block;
  height: 100%;
  background: red;
}

#computerHP span {
  display: block;
  height: 100%;
  background: red;
}

#playerHP:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 80px solid white;
  border-left: 80px solid red;
  width: 0;
}

/*# sourceMappingURL=style.css.map */
