@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

#app {
  position: absolute;
  display: flex;
  background: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  font: 100% "Ubuntu Condensed", sans-serif;
  font-family: "Black Ops One", cursive;
}

#app-inner {
  display: grid;
  width: 1300px;
  grid-template-rows: 1fr 2fr 2fr;
  border-radius: 100%;
}

#gameview {
  margin-left: 0;
  margin-right: 0;
}

#info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

.box {
  height: auto;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
  margin: 30px;
  border: 1px solid black;
  height: 100%;
  box-shadow: 3px 3px black;
  background: url("../img/diagmonds.png");
  background-color: #770e7e;
}

.box h1 {
  display: block;
}

.handChoice {
  background-size: cover;
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

#choices {
  width: 100%;
  height: 100%;
}

.choice {
  background-size: cover;
  width: 37px;
  height: 37px;
  display: inline-block;
}

.choiceSelected {
  opacity: 0;
  box-shadow: 0 0 8pt 1pt red;
  opacity: 1;
  border-radius: 50%;
}

.choice:hover {
  opacity: 1;
}

#hint {
  display: block;
}

#row1 {
  text-transform: uppercase;
  color: white;
  width: 100%;
  height: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Black Ops One", cursive;
  min-width: 0;
  min-height: 0;
}

#row1-col1 {
  text-shadow: 1px 1px 10px black, 0 0 10px black, 0 0 10px black;
}

#row1-col1 h1 {
  margin-left: 10px;
  margin-bottom: -10px;
}

#row1-col2 {
  font-size: 30px;
}

#row1-col3 {
  text-shadow: 1px 1px 10px black, 0 0 10px black, 0 0 10px black;
}

#row1-col3 h1 {
  margin-right: 10px;
  margin-bottom: -10px;
}

.score-container {
  width: 100%;
}

#score-top-border {
  clip-path: polygon(9% 0, 91% 0, 76% 100%, 23% 100%);
  background: black;
}

#score-top {
  background: rgba(98, 98, 98, 0.428);
  background: linear-gradient(0deg, #626262 0%, #4b4444 49%, #171717 100%);
  width: 80%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  clip-path: polygon(0 0, 100% 0, 81% 100%, 17% 100%);
  border: 4px solid black;
  margin: auto;
}

#row1-col2 div h1 {
  display: inline-block;
  font-size: 48px;
  font-family: "Black Ops One", cursive;
  height: 100%;
  width: 100%;
}

#row1-col2 div h1:nth-child(1) {
  text-align: right;
}

#row1-col2 div h1:nth-child(2) {
  text-align: left;
}

.seperator {
  border-left: 6px solid black;
  height: 100%;
  padding-top: 50px;
  margin-left: 6px;
}

#row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

#row3 {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 280px;
  grid-template-areas: "hints gameui extra";
  min-height: 0;
  min-width: 0;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.row3-col1 {
  grid-area: hints;
}

#beats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  float: left;
}

#loses-to {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  float: right;
}

.row3-col2 {
  grid-area: gameui;
}

.row3-col3 {
  grid-area: extra;
}

#result {
  width: 500px;
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 25px darkblue;
  flex: 0 0 25em;
}

#picks {
  padding: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  border-radius: 20px;
}

.pickedHand {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-size: contain !important;
  height: 120px;
  border: 3px solid black;
  border-radius: 50%;
  width: 120px;
  margin: 25px;
  background-color: #404040;
  font-size: 40px;
}

.choiceHint {
  background-size: cover;
  width: 30px;
  height: 30px !important;
  display: inline-block;
  margin: 3px;
}

.abcd {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  background-color: rgba(64, 64, 64, 0.476);
}

#picks div {
  padding: 5px;
}

#hp-border-left {
  background: black;
  padding: 2px;
  clip-path: polygon(72% 100%, 0 100%, 0 0, 100% 0, 100% 11%);
  width: 305px;
}

#hp-container-left {
  width: 300px;
  height: 40px;
  background: black;
  border: 3px solid black;
  clip-path: polygon(70% 100%, 0 100%, 0 0, 100% 0);
}

#hp-border-right {
  float: right;
  background: black;
  padding: 2px;
  clip-path: polygon(100% 0, 0 0, 0 10%, 23% 100%, 100% 100%);
  width: 305px;
}

#hp-container-right {
  width: 300px;
  height: 40px;
  background: black;
  border: 3px solid black;
  clip-path: polygon(0 0, 25% 100%, 100% 100%, 100% 0);
}

.hp-bar {
  display: block;
  height: 100%;
  background: background #fe6464;
  background: background linear-gradient(0deg, #fe6464 0%, #b30909 58%, #400202 100%);
}

#logs {
  scrollbar-width: 3px;
  overflow-x: hidden;
  overflow: scroll;
  overflow-x: hidden;
}

#history {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

#logs span {
  margin: 2px;
}

#stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tophints {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
